<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game.onebuttonadventure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tela_Evento"></activity>
        <activity android:name=".Inventario" />
        <activity android:name=".Boss" />
        <activity android:name=".Mapa" />
        <activity android:name=".Config" />
        <activity android:name=".Loja" />
        <activity android:name=".TelaPreta" />
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".Headphones" />
        <activity android:name=".History" />
        <activity android:name=".Coquistas" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>